body {
  background-color: #424949;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header a {
  color: #5dade2;
  margin-right: 10px;
  margin-left: 30px;
  font-size: 2rem;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header a:hover {
  color: #58d68d;
  text-decoration: none;
}

header a:active {
  color: #58d68d;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #58d68d;
}

.logo img {
  width: 100px;
  margin-right: 10px;
}

.logo .textLogo {
  text-align: center;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.logo .textLogo h2 {
  margin-bottom: 0px;
}

th {
  color: #58d68d;
}

#updateForm,
#addForm {
  background-color: #212529;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  text-align: center;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#updateForm label,
#addForm label {
  color: #58d68d;
  font-size: 1.5rem;
}

#updateForm input,
#addForm input {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  background-color: #212529;
  border: none;
  color: white;
  border: solid 1px #5dade2;
  padding: 5px;
  outline: none;
}

#updateForm input[type="submit"],
#addForm input[type="submit"] {
  padding: 10px;
  background-color: #5dade2;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#updateForm input[type="submit"]:hover,
#addForm input[type="submit"]:hover {
  background-color: #58d68d;
  border-color: #58d68d;
  cursor: pointer;
}

button {
  cursor: pointer;
  margin-right: 5px;
  border: none;
  padding: 5px;
  color: white;
}

#updateBtn {
  background-color: #5dade2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#deleteBtn {
  background-color: #e74c3c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#deleteBtn:hover {
  background-color: #c0392b;
}

#updateBtn:hover {
  background-color: #21618c;
}

.form-control {
  margin-bottom: 10px;
}

#update_add_forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#outOption {
  color: #f90400;
}
/*# sourceMappingURL=styles.css.map */