//COLORS
$primaryColor: #424949;
$secondaryColor: #5dade2;
$thirdColor: #58d68d;

body {
  background-color: $primaryColor;
  font-family: "Source Sans Pro", sans-serif;
}

header {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: $secondaryColor;
    margin-right: 10px;
    margin-left: 30px;
    font-size: 2rem;
    text-decoration: none;
    transition: 0.3s;
  }
  a:hover {
    color: $thirdColor;
    text-decoration: none;
  }
  a:active {
    color: $thirdColor;
  }
}

.logo {
  display: flex;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  color: $thirdColor;
  img {
    width: 100px;
    margin-right: 10px;
  }
  .textLogo {
    text-align: center;
    transform: translateY(8px);
    h2 {
      margin-bottom: 0px;
    }
  }
}

th {
  color: $thirdColor;
}

#updateForm,
#addForm {
  background-color: #212529;
  width: 20%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 40px;
  text-align: center;
  padding: 10px;
  label {
    color: $thirdColor;
    font-size: 1.5rem;
  }
  input {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    background-color: #212529;
    border: none;
    color: white;
    border: solid 1px $secondaryColor;
    padding: 5px;
    outline: none;
  }
  input[type="submit"] {
    padding: 10px;
    background-color: $secondaryColor;

    cursor: pointer;
    transition: 0.3s;
  }
  input[type="submit"]:hover {
    background-color: $thirdColor;
    border-color: $thirdColor;

    cursor: pointer;
  }
}

button {
  cursor: pointer;
  margin-right: 5px;
  border: none;
  padding: 5px;
  color: white;
}

#updateBtn {
  background-color: $secondaryColor;
  transition: 0.3s;
}
#deleteBtn {
  background-color: #e74c3c;
  transition: 0.3s;
}

#deleteBtn:hover {
  background-color: #c0392b;
}
#updateBtn:hover {
  background-color: #21618c;
}

.form-control {
  margin-bottom: 10px;
}

#update_add_forms {
  display: flex;
  justify-content: space-around;
}
